html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

#searchBox {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  padding: 8px;
}

.filter {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  background: rgba(255,255,255,0.9);
  padding: 8px;
  border-radius: 6px;
}

.plot-card {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #fff;
  padding: 15px;
  width: 130px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  z-index: 20;
  font-size: 14px;
}

.plot-card h4 {
  margin: 0 0 8px;
}

.hidden {
  display: none;
}

.close-btn {
 
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.close-btn:hover {
  color: #000;
}

/* whatsapp */

#whatsapp-btn {
  position: fixed;
  right: 20px;
  bottom: 55px;
  width: 30px;
  height: 30px;
  z-index: 9999;
  cursor: pointer;
}

#whatsapp-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
