html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.filter {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 20px;
  color: #fff;

  padding: 8px;
  border-radius: 6px;
}

.plot-card {
  position: fixed;
  bottom: 17px;
  left: 17px;
  background: #fff;
  padding: 15px;
  width: 130px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 20;
  font-size: 14px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.plot-card h4 {
  margin: 0 0 8px;
}

.hidden {
  display: none;
}

.close-btn {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.close-btn:hover {
  color: #eae7e7;
}

/* whatsapp */

#whatsapp-btn {
  position: fixed;
  right: 10px;
  bottom: 35px;
  width: 55px;
  height: 55px;
  z-index: 9999;
  cursor: pointer;
}

#whatsapp-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* google map */

#googlemap-btn {
  position: fixed;
  bottom: 100px; /* WhatsApp ke upar */
  right: 15px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 9999;
}

#googlemap-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*  */
#search-fab {
  position: fixed;
  top: 17px;
  right: 17px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99999;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}


/* SEARCH INPUT */
#floating-search {
  position: fixed;
  top: 18px;
  right: 70px;
  width: 0;
  opacity: 0;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
  z-index: 99999;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
}

/* ACTIVE STATE */
#floating-search.active {
  width: 150px;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

/* Chrome, Edge, Safari */
::-webkit-input-placeholder {
  color: #fff;
}

/* Firefox */
::-moz-placeholder {
  color: #fff;
}

/* Internet Explorer */
:-ms-input-placeholder {
  color: #fff;
}
